# Heart Disease Prediction - PCA Analysis

This notebook covers:
1. Loading Preprocessed Data
2. PCA Implementation
3. Variance Analysis
4. Component Visualization
5. Transformed Data Export

In [3]:
import pandas as pd

df = pd.read_csv('../data/cleaned_cleveland.csv', header=0)
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,29.0,1,1,94.0,126.0,1,2,81.0,0,0.0,0,0,3,1
1,29.0,1,3,150.0,126.0,1,2,145.0,1,0.0,0,2,3,1
2,77.0,0,1,94.0,126.0,1,1,71.0,1,1.0,1,1,3,1
3,29.0,1,1,200.0,126.0,1,2,71.0,1,1.0,2,3,3,1
4,29.0,1,0,94.0,126.0,1,2,71.0,1,6.2,2,3,7,1

In [1]:
from sklearn.preprocessing import StandardScaler

# Separate features and target
X = df.drop('target', axis=1)
y = df['target']

# Scale features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

NameError: name 'df' is not defined